@import "li";
@import"imagena";
@import "letra";


@mixin tamaño ($ancho,$alto){

	width: $ancho;
	height: $alto;

}

html{
	font-size: 62.5%;/*reseteo*/
}



.parrafo__letra{
	float:left;
	margin-right: 50px;
}


a{
		color: beige;	
	}
	
.contenedor4{
	background-color: rgb(49, 46, 46);
	font-family: 'Poppins', sans-serif;
	display: grid;
	grid-template-columns: 600px auto auto;
	font-size: 12px;
	color: azure;
	justify-items:auto;
}
.contenedor4__contacto{
	display: grid;
	justify-content: center;
}
.contenedor4__redes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.contenedor4__elegirnos{
            display: grid;
        justify-content: center;
    }



.contenedorNews{
	display: grid;
	grid-template-rows: 40px 40px 600px;
	justify-items: auto;
	row-gap: 20px;
}


.imagen_i:before{

	position: absolute;
	@include tamaño(100%,100%)
	background: black;
	opacity: 0.6;
	top: 0;
}

$redes: (
facebook: .3 ,
instagram:.3,
whatsapp:.3
);

@each $red, $ani in $redes {
	.red-#{$red}:hover {
			opacity:  $ani;
					
			}
	
}

