.letra{
	font-size: 3rem;
	font-family: 'Chakra Petch', sans-serif;
	color:rgb(143, 143, 143);
}
.letra_s{
	font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
	color:rgb(143, 143, 143);
	
	}
.letra_s:hover{
    transform: scale(1.5);
    
}
